[tool.poetry]
name = "samarium"
version = "0.4.0"
description = "The Samarium Programming Language"
authors = ["trag1c <trag1cdev@yahoo.com>"]
license = "MIT"
documentation = "https://samarium-lang.github.io/Samarium/"
repository = "https://github.com/samarium-lang/Samarium"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
dahlia = "^2.1.0"
crossandra = "^1.2.1"

[tool.poetry.dev-dependencies]
black = "^22.10.0"
isort = "^5.10.1"

[tool.poetry.scripts]
samarium = "samarium.__main__:main"
samarium-debug = "samarium.__main__:main_debug"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

